<!--
Middle.vue
		the middle of the inner container
-->


<template>
	<div :class="[displayStyles, dimensionStyles]">
		<ShapeMe />
		<Title />

		<div class="flex justify-center mb-1/20">
			<div class="border-solid border-b-2 w-1/4" />
		</div>

		<Summary />
		<TimeLine />
	</div>
</template>


<script>
	import ShapeMe from "@/components/ShapeMe/ShapeMe";
	import Title from "@/components/Title/Title";
	import Summary from "@/components/Summary/Summary";
	import TimeLine from "@/components/TimeLine/TimeLine";

	export default {
		name: "Middle",
		components: {
			ShapeMe,
			Title,
			Summary,
			TimeLine,
		},
		computed: {
			displayStyles() {
				return "";
			},
			dimensionStyles() {
				return "h-full w-1/3";
			},
		},
	}
</script>
