<!--
Summary.vue
		the JS Summary for the page
-->


<template>
	<div class="h-1/5 mb-1/20 overflow-hidden _text">
		<p class="text-sm text-center font-light">
			Aliquam eros magna, imperdiet dui sit amet, ut finibus est. Cras pretium purus dictum, commodo lorem non, commodo arcu. Vivamus a nibh eget lacus tristique congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat hendrerit elit. Praesent in tellus aliquam sem iaculis ullamcorper. Suspendisse eget turpis mattis, pulvinar lectus at, vulputate mauris.
		</p>
	</div>
</template>


<script>
	export default {
		name: "Summary",
	}
</script>


<style scoped>
	._text {
		text-overflow: ellipsis;
	}
</style>
