/* cyrillic-ext */
@font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin Italic'), local('AlegreyaSansSC-ThinItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGl4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdljRLFY9UMedtAWs.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin Italic'), local('AlegreyaSansSC-ThinItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGl4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdljRCFY9UMedtAWs.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin Italic'), local('AlegreyaSansSC-ThinItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGl4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdljRKFY9UMedtAWs.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin Italic'), local('AlegreyaSansSC-ThinItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGl4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdljRFFY9UMedtAWs.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin Italic'), local('AlegreyaSansSC-ThinItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGl4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdljRJFY9UMedtAWs.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin Italic'), local('AlegreyaSansSC-ThinItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGl4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdljRIFY9UMedtAWs.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin Italic'), local('AlegreyaSansSC-ThinItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGl4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdljRGFY9UMedt.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 300;
    src: local('Alegreya Sans SC Light Italic'), local('AlegreyaSansSC-LightItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdXiZRP6p7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 300;
    src: local('Alegreya Sans SC Light Italic'), local('AlegreyaSansSC-LightItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdXiZRNqp7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 300;
    src: local('Alegreya Sans SC Light Italic'), local('AlegreyaSansSC-LightItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdXiZRPqp7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 300;
    src: local('Alegreya Sans SC Light Italic'), local('AlegreyaSansSC-LightItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdXiZRMap7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 300;
    src: local('Alegreya Sans SC Light Italic'), local('AlegreyaSansSC-LightItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdXiZRPap7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 300;
    src: local('Alegreya Sans SC Light Italic'), local('AlegreyaSansSC-LightItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdXiZRPKp7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 300;
    src: local('Alegreya Sans SC Light Italic'), local('AlegreyaSansSC-LightItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdXiZRMqp7Ge1lOQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 400;
    src: local('Alegreya Sans SC Italic'), local('AlegreyaSansSC-Italic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGn4-RGJqfMvt7P8FUr0Q1j-Hf1BkxV-AREH4h2M9ds.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 400;
    src: local('Alegreya Sans SC Italic'), local('AlegreyaSansSC-Italic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGn4-RGJqfMvt7P8FUr0Q1j-Hf1BkxV8QREH4h2M9ds.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 400;
    src: local('Alegreya Sans SC Italic'), local('AlegreyaSansSC-Italic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGn4-RGJqfMvt7P8FUr0Q1j-Hf1BkxV-QREH4h2M9ds.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 400;
    src: local('Alegreya Sans SC Italic'), local('AlegreyaSansSC-Italic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGn4-RGJqfMvt7P8FUr0Q1j-Hf1BkxV9gREH4h2M9ds.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 400;
    src: local('Alegreya Sans SC Italic'), local('AlegreyaSansSC-Italic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGn4-RGJqfMvt7P8FUr0Q1j-Hf1BkxV-gREH4h2M9ds.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 400;
    src: local('Alegreya Sans SC Italic'), local('AlegreyaSansSC-Italic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGn4-RGJqfMvt7P8FUr0Q1j-Hf1BkxV-wREH4h2M9ds.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 400;
    src: local('Alegreya Sans SC Italic'), local('AlegreyaSansSC-Italic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGn4-RGJqfMvt7P8FUr0Q1j-Hf1BkxV9QREH4h2Mw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium Italic'), local('AlegreyaSansSC-MediumItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdBidRP6p7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium Italic'), local('AlegreyaSansSC-MediumItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdBidRNqp7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium Italic'), local('AlegreyaSansSC-MediumItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdBidRPqp7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium Italic'), local('AlegreyaSansSC-MediumItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdBidRMap7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium Italic'), local('AlegreyaSansSC-MediumItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdBidRPap7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium Italic'), local('AlegreyaSansSC-MediumItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdBidRPKp7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium Italic'), local('AlegreyaSansSC-MediumItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdBidRMqp7Ge1lOQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 700;
    src: local('Alegreya Sans SC Bold Italic'), local('AlegreyaSansSC-BoldItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdTiFRP6p7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 700;
    src: local('Alegreya Sans SC Bold Italic'), local('AlegreyaSansSC-BoldItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdTiFRNqp7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 700;
    src: local('Alegreya Sans SC Bold Italic'), local('AlegreyaSansSC-BoldItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdTiFRPqp7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 700;
    src: local('Alegreya Sans SC Bold Italic'), local('AlegreyaSansSC-BoldItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdTiFRMap7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 700;
    src: local('Alegreya Sans SC Bold Italic'), local('AlegreyaSansSC-BoldItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdTiFRPap7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 700;
    src: local('Alegreya Sans SC Bold Italic'), local('AlegreyaSansSC-BoldItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdTiFRPKp7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 700;
    src: local('Alegreya Sans SC Bold Italic'), local('AlegreyaSansSC-BoldItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdTiFRMqp7Ge1lOQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 800;
    src: local('Alegreya Sans SC ExtraBold Italic'), local('AlegreyaSansSC-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdUiJRP6p7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 800;
    src: local('Alegreya Sans SC ExtraBold Italic'), local('AlegreyaSansSC-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdUiJRNqp7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 800;
    src: local('Alegreya Sans SC ExtraBold Italic'), local('AlegreyaSansSC-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdUiJRPqp7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 800;
    src: local('Alegreya Sans SC ExtraBold Italic'), local('AlegreyaSansSC-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdUiJRMap7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 800;
    src: local('Alegreya Sans SC ExtraBold Italic'), local('AlegreyaSansSC-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdUiJRPap7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 800;
    src: local('Alegreya Sans SC ExtraBold Italic'), local('AlegreyaSansSC-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdUiJRPKp7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 800;
    src: local('Alegreya Sans SC ExtraBold Italic'), local('AlegreyaSansSC-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdUiJRMqp7Ge1lOQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 900;
    src: local('Alegreya Sans SC Black Italic'), local('AlegreyaSansSC-BlackItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxddiNRP6p7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 900;
    src: local('Alegreya Sans SC Black Italic'), local('AlegreyaSansSC-BlackItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxddiNRNqp7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 900;
    src: local('Alegreya Sans SC Black Italic'), local('AlegreyaSansSC-BlackItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxddiNRPqp7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 900;
    src: local('Alegreya Sans SC Black Italic'), local('AlegreyaSansSC-BlackItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxddiNRMap7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 900;
    src: local('Alegreya Sans SC Black Italic'), local('AlegreyaSansSC-BlackItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxddiNRPap7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 900;
    src: local('Alegreya Sans SC Black Italic'), local('AlegreyaSansSC-BlackItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxddiNRPKp7Ge1lOVIQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: italic;
    font-weight: 900;
    src: local('Alegreya Sans SC Black Italic'), local('AlegreyaSansSC-BlackItalic'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxddiNRMqp7Ge1lOQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin'), local('AlegreyaSansSC-Thin'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGn4-RGJqfMvt7P8FUr0Q1j-Hf1DipV-AREH4h2M9ds.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin'), local('AlegreyaSansSC-Thin'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGn4-RGJqfMvt7P8FUr0Q1j-Hf1DipV8QREH4h2M9ds.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin'), local('AlegreyaSansSC-Thin'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGn4-RGJqfMvt7P8FUr0Q1j-Hf1DipV-QREH4h2M9ds.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin'), local('AlegreyaSansSC-Thin'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGn4-RGJqfMvt7P8FUr0Q1j-Hf1DipV9gREH4h2M9ds.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin'), local('AlegreyaSansSC-Thin'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGn4-RGJqfMvt7P8FUr0Q1j-Hf1DipV-gREH4h2M9ds.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin'), local('AlegreyaSansSC-Thin'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGn4-RGJqfMvt7P8FUr0Q1j-Hf1DipV-wREH4h2M9ds.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 100;
    src: local('Alegreya Sans SC Thin'), local('AlegreyaSansSC-Thin'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGn4-RGJqfMvt7P8FUr0Q1j-Hf1DipV9QREH4h2Mw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 300;
    src: local('Alegreya Sans SC Light'), local('AlegreyaSansSC-Light'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DuJH4i5hMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 300;
    src: local('Alegreya Sans SC Light'), local('AlegreyaSansSC-Light'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DuJH4idhMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 300;
    src: local('Alegreya Sans SC Light'), local('AlegreyaSansSC-Light'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DuJH4i9hMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 300;
    src: local('Alegreya Sans SC Light'), local('AlegreyaSansSC-Light'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DuJH4iBhMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 300;
    src: local('Alegreya Sans SC Light'), local('AlegreyaSansSC-Light'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DuJH4ixhMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 300;
    src: local('Alegreya Sans SC Light'), local('AlegreyaSansSC-Light'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DuJH4i1hMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 300;
    src: local('Alegreya Sans SC Light'), local('AlegreyaSansSC-Light'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DuJH4iNhMKB8O-8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1BkRl9w5DPYpGMg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1Bk1l9w5DPYpGMg.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1BkVl9w5DPYpGMg.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1Bkpl9w5DPYpGMg.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1BkZl9w5DPYpGMg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1Bkdl9w5DPYpGMg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1Bkll9w5DPYo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium'), local('AlegreyaSansSC-Medium'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DrpG4i5hMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium'), local('AlegreyaSansSC-Medium'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DrpG4idhMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium'), local('AlegreyaSansSC-Medium'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DrpG4i9hMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium'), local('AlegreyaSansSC-Medium'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DrpG4iBhMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium'), local('AlegreyaSansSC-Medium'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DrpG4ixhMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium'), local('AlegreyaSansSC-Medium'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DrpG4i1hMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium'), local('AlegreyaSansSC-Medium'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DrpG4iNhMKB8O-8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 700;
    src: local('Alegreya Sans SC Bold'), local('AlegreyaSansSC-Bold'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DvJA4i5hMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 700;
    src: local('Alegreya Sans SC Bold'), local('AlegreyaSansSC-Bold'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DvJA4idhMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 700;
    src: local('Alegreya Sans SC Bold'), local('AlegreyaSansSC-Bold'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DvJA4i9hMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 700;
    src: local('Alegreya Sans SC Bold'), local('AlegreyaSansSC-Bold'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DvJA4iBhMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 700;
    src: local('Alegreya Sans SC Bold'), local('AlegreyaSansSC-Bold'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DvJA4ixhMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 700;
    src: local('Alegreya Sans SC Bold'), local('AlegreyaSansSC-Bold'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DvJA4i1hMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 700;
    src: local('Alegreya Sans SC Bold'), local('AlegreyaSansSC-Bold'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DvJA4iNhMKB8O-8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 800;
    src: local('Alegreya Sans SC ExtraBold'), local('AlegreyaSansSC-ExtraBold'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1Du5D4i5hMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 800;
    src: local('Alegreya Sans SC ExtraBold'), local('AlegreyaSansSC-ExtraBold'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1Du5D4idhMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 800;
    src: local('Alegreya Sans SC ExtraBold'), local('AlegreyaSansSC-ExtraBold'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1Du5D4i9hMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 800;
    src: local('Alegreya Sans SC ExtraBold'), local('AlegreyaSansSC-ExtraBold'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1Du5D4iBhMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 800;
    src: local('Alegreya Sans SC ExtraBold'), local('AlegreyaSansSC-ExtraBold'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1Du5D4ixhMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 800;
    src: local('Alegreya Sans SC ExtraBold'), local('AlegreyaSansSC-ExtraBold'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1Du5D4i1hMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 800;
    src: local('Alegreya Sans SC ExtraBold'), local('AlegreyaSansSC-ExtraBold'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1Du5D4iNhMKB8O-8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 900;
    src: local('Alegreya Sans SC Black'), local('AlegreyaSansSC-Black'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DspC4i5hMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 900;
    src: local('Alegreya Sans SC Black'), local('AlegreyaSansSC-Black'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DspC4idhMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 900;
    src: local('Alegreya Sans SC Black'), local('AlegreyaSansSC-Black'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DspC4i9hMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 900;
    src: local('Alegreya Sans SC Black'), local('AlegreyaSansSC-Black'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DspC4iBhMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 900;
    src: local('Alegreya Sans SC Black'), local('AlegreyaSansSC-Black'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DspC4ixhMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 900;
    src: local('Alegreya Sans SC Black'), local('AlegreyaSansSC-Black'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DspC4i1hMKB8O-9VOA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 900;
    src: local('Alegreya Sans SC Black'), local('AlegreyaSansSC-Black'), url(https://fonts.gstatic.com/s/alegreyasanssc/v7/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DspC4iNhMKB8O-8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }