<!--
Dribble.vue
		dribble svg icon
-->


<template>
	<svg-base
		:svgName="svgName"
		:width="width"
		:height="height"
		viewBox="0 0 16 16"
	>
	  	<path
			:fill="fill"
			:stroke="stroke"
			fill-rule="nonzero"
			d="M7.975 15.95c4.397 0 7.974-3.578 7.974-7.976C15.95 3.577 12.372 0 7.975 0S0 3.577 0 7.974c0 4.398 3.578 7.976 7.975 7.976zm0-1.858a6.033 6.033 0 0 1-3.49-1.097c.42-.694 1.691-2.434 4.416-3.474a27.237 27.237 0 0 1 1.179 4.197 6.047 6.047 0 0 1-2.105.374zm3.884-1.398a29.434 29.434 0 0 0-1.005-3.64 8.45 8.45 0 0 1 .836-.042c.99 0 1.816.166 2.252.275a6.142 6.142 0 0 1-2.083 3.407zM12.98 4.49a6.13 6.13 0 0 1 1.08 2.973 16.591 16.591 0 0 0-2.62-.217c-.435 0-.855.02-1.255.06a20.637 20.637 0 0 0-.298-.673c1.628-.73 2.614-1.625 3.093-2.143zM7.975 1.877c1.37 0 2.696.461 3.77 1.306-.37.414-1.214 1.203-2.699 1.816a35.478 35.478 0 0 0-1.935-3.061 6.12 6.12 0 0 1 .864-.061zm-2.878.722c.358.504 1.149 1.65 1.947 3.021-2.146.518-4.032.63-4.932.652a6.156 6.156 0 0 1 2.985-3.673zM7.96 7.316c.07.14.137.279.2.415-2.71.931-4.393 3.009-5.043 3.95A6.088 6.088 0 0 1 1.87 8.167c.943-.01 3.46-.112 6.09-.851z"
		/>
	</svg-base>
</template>


<script>
	import SvgBase from "@/components/svg/SvgBase";

	export default {
		components: {
			SvgBase
		},
		props: {
			svgName: {
				type: String,
				default: 'dribble'
			},
			width: {
				type: [Number, String],
				default: 16
			},
			height: {
				type: [Number, String],
				default: 16
			},
			fill: {
				type: String,
				default: 'black'
			},
			stroke: {
				type: String,
				default: 'black'
			}
		}
	}
</script>
