<!--
Github.vue
		github svg icon
-->

<template>
	<svg-base
		:svgName="svgName"
		:width="width"
		:height="height"
		viewBox="0 0 16 16"
	>
	  	<path
			:fill="fill"
			:stroke="stroke"
			fill-rule="nonzero"
			d="M15.854 6.704c.074-.376.12-.787.132-1.249-.004-1.979-1.186-2.679-1.414-3.007.335-1.5-.055-2.182-.237-2.415-.67-.19-2.33.492-3.236.972-1.479-.347-4.604-.313-5.776.09C3.161-.147 2.017.043 2.017.043s-.74 1.063-.195 2.617C1.11 3.387.58 3.901.58 5.264c0 .327.025.635.068.932.613 2.583 3.165 3.697 5.673 3.889-.377.23-.83.665-.893 1.169-.474.245-1.428.327-2.17.14C2.22 11.13 1.822 9.48.265 9.716c-.336.05-.27.229.022.38.474.247.92.554 1.265 1.21.264.503.82 1.402 2.578 1.402.698 0 1.187-.067 1.187-.067s.013 1.283.013 1.784c0 .575-.97.737-.97 1.013 0 .11.321.12.58.12.509 0 1.569-.34 1.569-.938 0-.476.01-2.074.01-2.354 0-.611.408-.806.408-.806s.05 3.265-.098 3.702c-.174.515-.49.442-.49.67 0 .343 1.275.084 1.698-.664.327-.584.18-3.785.18-3.785l.341-.006s.004 1.466-.008 2.136c-.012.693-.101 1.57.413 1.984.337.272 1.37.75 1.37.314 0-.253-.723-.462-.723-1.148v-3.157c.44 0 .53 1.038.53 1.038l.16 1.928s-.106.703.947.997c.372.104 1.168.133 1.205-.042.037-.176-.958-.436-.967-.98-.006-.332.018-.526.018-1.97 0-1.441-.242-1.974-1.084-2.4 2.442-.2 4.978-1.075 5.435-3.373z"
		/>
	</svg-base>
</template>


<script>
	import SvgBase from "@/components/svg/SvgBase";

	export default {
		components: {
			SvgBase
		},
		props: {
			svgName: {
				type: String,
				default: 'github'
			},
			width: {
				type: [Number, String],
				default: 16
			},
			height: {
				type: [Number, String],
				default: 16
			},
			fill: {
				type: String,
				default: 'black'
			},
			stroke: {
				type: String,
				default: 'black'
			}
		}
	}
</script>
