<!--
LinkedIn.vue
		linkedin svg icon
-->


<template>
	<svg-base
		:svgName="svgName"
		:width="width"
		:height="height"
		viewBox="0 0 16 16"
	>
	  	<path
			:fill="fill"
			:stroke="stroke"
			fill-rule="nonzero"
			d="M15.967 9.807v6.176h-3.422V10.22c0-1.447-.495-2.435-1.734-2.435-.945 0-1.508.666-1.756 1.31-.09.23-.113.55-.113.872v6.015H5.518s.046-9.759 0-10.77h3.423V6.74c-.007.011-.016.023-.022.035h.022V6.74c.455-.733 1.267-1.78 3.085-1.78 2.253 0 3.941 1.54 3.941 4.847zM1.937.022C.766.022 0 .825 0 1.882c0 1.034.744 1.862 1.892 1.862h.023c1.193 0 1.936-.828 1.936-1.862C3.828.825 3.108.022 1.937.022zM.203 15.982h3.422V5.214H.203v10.77z"
		/>
	</svg-base>
</template>


<script>
	import SvgBase from "@/components/svg/SvgBase";

	export default {
		components: {
			SvgBase
		},
		props: {
			svgName: {
				type: String,
				default: 'linkedin'
			},
			width: {
				type: [Number, String],
				default: 16
			},
			height: {
				type: [Number, String],
				default: 16
			},
			fill: {
				type: String,
				default: 'black'
			},
			stroke: {
				type: String,
				default: 'black'
			}
		}
	}
</script>
