<!--
SvgBase.vue
		the base svg icon class
-->


<template>
	<svg
		:width="width"
		:height="height"
		:viewBox="viewBox"
		:aria-labelledby="svgName"
	>
		<title :id="svgName" lang="en">{{ svgName }} svg</title>
		<g
			:fill="fill"
			fill-rule="nonzero"
			:stroke="stroke"
			stroke-width="0.1"
		>
			<slot />
		</g>
	</svg>
</template>


<script>
	export default {
		props: {
			svgName: {
				type: String,
				default: 'box'
			},
			width: {
				type: [Number, String],
				default: 24
			},
			height: {
				type: [Number, String],
				default: 24
			},
			fill: {
				type: String,
				default: 'none'
			},
			stroke: {
				type: String,
				default: 'none'
			},
			viewBox: {
				type: String,
				default: '0 0 24 24'
			}
		}
	}
</script>
