<!--
Triangle.vue
		triangle svg icon
-->


<template>
	<svg-base
		:svgName="svgName"
		:width="width"
		:height="height"
		viewBox="0 0 16 16"
	>
  		<path
			:fill="fill"
			:stroke="stroke"
			d="M8 0l8 16H0z"
		/>
	</svg-base>
</template>


<script>
	import SvgBase from "@/components/svg/SvgBase";

	export default {
		components: {
			SvgBase
		},
		props: {
			svgName: {
				type: String,
				default: 'triangle'
			},
			width: {
				type: [Number, String],
				default: 16
			},
			height: {
				type: [Number, String],
				default: 16
			},
			fill: {
				type: String,
				default: 'black'
			},
			stroke: {
				type: String,
				default: 'black'
			}
		}
	}
</script>
