<!--
ShapeMe.vue
		the middle shape thing
-->


<template>
	<div class="relative flex h-2/5 justify-center items-center mb-1/20">
			<div class="absolute z-50 flex justify-center items-center">
				<Triangle class="_overV mr-1/6" stroke="#6cb2eb" fill="#6cb2eb" width="75%" height="75%" />
			</div>
			<div class="absolute z-40 flex justify-center items-center">
				<Triangle class="_overV" stroke="#bcdefa" fill="#bcdefa" width="75%" height="75%" />
			</div>
			<div class="absolute z-30 flex justify-center items-center">
				<Triangle class="_overV ml-1/6" stroke="#bcdefa" fill="none" width="75%" height="75%" />
			</div>
	</div>
</template>


<script>
	import Triangle from "@/components/svg/Triangle";

	export default {
		name: "ShapeMe",
		components: {
			Triangle,
		}
	}
</script>


<style scoped>
	._overV {
		overflow: visible;
	}
</style>
