<!--
Title.vue
		the dynamic title
-->


<template>
	<div class="flex items-center justify-center font-bold text-blue mb-1/20 overflow-hidden _text">
		<h1>Lorem Ipsum</h1>
	</div>
</template>


<script>
	export default {
		name: "Title",
	}
</script>


<style scoped>
	._text {
		text-overflow: ellipsis;
		white-space: nowrap;
	}
</style>
