<!--
Container.vue
		inner page container
-->


<template>
	<div :class="[displayStyles, dimensionStyles]">
		<LeftSide />
		<Middle />
		<RightSide />
	</div>
</template>


<script>
	import LeftSide from "@/components/LeftSide/LeftSide";
	import Middle from "@/components/Middle/Middle";
	import RightSide from "@/components/RightSide/RightSide";

	export default {
		name: "Container",
		components: {
			LeftSide,
			Middle,
			RightSide
		},
		computed: {
			displayStyles() {
				return "flex bg-white shadow-xl";
			},
			dimensionStyles() {
				return "_p h-9/10";
			},
		},
	}
</script>


<style scoped>
	._p {
		padding: 2%;
	}
</style>
