<!--
RightSide.vue
		the right side of the inner container
-->


<template>
	<div :class="[displayStyles, dimensionStyles]">
		<NavigationBar />
	</div>
</template>


<script>
	import NavigationBar from "@/components/NavigationBar/NavigationBar";

	export default {
		name: "RightSide",
		components: {
			NavigationBar
		},
		computed: {
			displayStyles() {
				return "";
			},
			dimensionStyles() {
				return "h-full w-1/3";
			},
		},
	}
</script>
