<!--
TimeLineTick.vue
		the timeline tick mark
-->


<template>
		<div
			:class="classList"
			:style="inLineStyles"
			@mouseenter="isHovered=true"
			@mouseleave="isHovered=false"
		/>
</template>


<script>
	export default {
		computed: {
			classList: function() {
				return [
					this.defaultStyles,
					this.isHovered  ? this.hoverEnterStyles : "",
					!this.isHovered ? this.hoverLeaveStyles : "",
				]
			},
			inLineStyles: function() {
				return {
					"left": this.left
				}
			},
		},
		data: () => ({
			defaultStyles: "absolute border-l h-1/3 _animation _border",
			hoverEnterStyles: "_hover-enter",
			hoverLeaveStyles: "_hover-leave",
			isHovered: false,
		}),
		name: "TimeLineTick",
		props: {
			left: {
				type: String,
				default: "0"
			},
		},
	}
</script>


<style scoped>
	._animation {
		transform-origin: 50% 100%;
		transition: border-color 0.25s ease-in 0s, transform 0.25s ease-in 0s;
	}
	._border {
		border-width: 0.33em;
		bottom: 0;
	}
	._hover-enter {
		border-color: #6cb2eb;
		transform: scale(1.25);
	}
	._hover-leave {
		border-color: #dae4e9;
		transform: scale(1.0);
	}
</style>
