<!--
TimeLine.vue
		The JS TimeLine for the page
-->


<template>
	<div class="flex h-1/10 justify-center mb-1/20 relative">
		<time-line-tick :key="year" :left="calculateTickLeftPosition(year)" v-for="year in years" />
		<div class="absolute border-b-2 _position _width" />
	</div>
</template>


<script>
	import TimeLineTick from "@/components/TimeLine/TimeLineTick";

	export default {
		components: {
			TimeLineTick,
		},
		data: () => ({
			years: [1992, 2005, 2010, 2014, 2015, (new Date()).getFullYear()],
		}),
		methods: {
			/**
			 * Return the inline style "left" for the tick
			 * 
			 * @param  {Integer} index - the index in the list of years
			 * @return {String}        - the inline style as a string
			 */
			calculateTickLeftPosition: function(year) {
				if (this.years[0] === year) {
					return "0%";
				}  else if (year === (new Date()).getFullYear()) {
					return "100%";
				} else {
					return `${(year - this.years[0])* 4}%`;
				}
			}
		},
		name: "TimeLine",
	}
</script>


<style scoped>
	._position {
		bottom: 0;
	}
	._width {
		width: 120%;
	}
</style>
