<!--
default.vue
		default nuxt layout
-->

<template>
	<nuxt />
</template>

<style>
html {
	box-sizing: border-box;
	font-family: "Alegreya Sans SC", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

*, *:after, *:before, {
  box-sizing: inherit;
}
</style>
