<!--
index.vue
		initial page loaded by nuxt
-->

<template>
	<div :class="[displayStyles, dimensionStyles]">
		<Content>
			<Container />
		</Content>
	</div>
</template>

<script>
	import Container from "@/components/Container/Container";
	import Content from "@/components/Content/Content";

	export default {
		components: {
			Container,
			Content,
		},
		computed: {
			displayStyles() {
				return "bg-blue-lightest";
			},
			dimensionStyles() {
				return "w-screen h-screen";
			}
		},
	}
</script>

<style>
</style>
