<!--
Content.vue
		page overarching content
-->

<template>
	<div :class="[dimensionStyles, positionalStyles]">
		<slot />
	</div>
</template>

<script>
	export default {
		name: "Content",
		computed: {
			dimensionStyles() {
				return "h-screen";
			},
			positionalStyles() {
				return "mx-auto pt-10 w-5/6";
			},
		},
	}
</script>
