<!--
NavigationBar.vue
		holds all the clickable links
-->


<template>
	<div :class="[displayStyles, dimensionStyles]">
		<h1 class="font-light text-blue-light text-base _ml">About</h1>
		<h1 class="font-light text-blue-light text-base _ml">Archive</h1>
	</div>
</template>


<script>
	export default {
		name: "NavigationBar",
		computed: {
			displayStyles() {
				return "flex font-light text-blue-light justify-end";
			},
			dimensionStyles() {
				return "";
			},
		},
	}
</script>

<style scoped>
	._ml {
		margin-left: 10%;
	}
</style>