<!--
IconContainer.vue
		holds all the icons
-->


<template>
	<div class="relative" :class="[displayStyles, dimensionStyles]">
		<div class="_mb">
			<LinkedIn fill="#bcdefa" stroke="#bcdefa" height="75%" width="5%" />
		</div>
		<div class="_mb">
			<Dribble fill="#bcdefa" stroke="#bcdefa" height="75%" width="5%" />
		</div>
		<div class="_mb">
			<Github fill="#bcdefa" stroke="#bcdefa" height="75%" width="5%" />
		</div>
	</div>
</template>


<script>
	import LinkedIn from "@/components/svg/LinkedIn";
	import Dribble from "@/components/svg/Dribble";
	import Github from "@/components/svg/Github";

	export default {
		name: "IconContainer",
		components: {
			LinkedIn,
			Dribble,
			Github,
		},
		computed: {
			displayStyles() {
				return "flex flex-col";
			},
			dimensionStyles() {
				return "";
			},
		},
	}
</script>


<style scoped>
	._mb {
		margin-bottom: 4%;
	}
</style>
