<!--
LeftSide.vue
		the left side of the inner container
-->


<template>
	<div :class="[displayStyles, dimensionStyles]">
		<IconContainer />
		<div class="border-l-2 h-3/4 _ml" />
	</div>
</template>


<script>
	import IconContainer from "@/components/IconContainer/IconContainer";

	export default {
		name: "LeftSide",
		components: {
			IconContainer,
		},
		computed: {
			displayStyles() {
				return "";
			},
			dimensionStyles() {
				return "h-full w-1/3";
			},
		},
	}
</script>

<style scoped>
	._ml {
		margin-left: 2%;
	}
</style>
